<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
	  <!--title>{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title-->
    <title>Santos Lopez - Desarrollador de Software</title>

    <meta name="description" content="Soy un desarrolador de software freelance y estudiante de Ingeniería en Sistemas Informática y Ciencias de la Computación con un semestre pendiente para cerrar pensum. He desarrollado algunos software utilizando Php, Java, Python y utilizando como base de datos: PostgreSQL, SQL, MySQL">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow, max-snippet:-1,max-image-preview:large,max-video-prview:-1">
    <meta name="author" content="Alexandr Shulaev" />
    <meta property="og:locale" content="es_ES">
    <meta property="og:site_name" href="Desarrollador de software freelance">
    <meta property="og:type" content="Desarrollador de software freelance">
    <meta property="og:title" content="Santos Lopez - Desarrollador de Software">
    <meta property="og:url" content="https://santoslopez.ml">

    <meta property="og:description" content="Soy un desarrolador de software freelance y estudiante de Ingeniería en Sistemas Informática y Ciencias de la Computación con un semestre pendiente para cerrar pensum. He desarrollado algunos software utilizando Php, Java, Python y utilizando como base de datos: PostgreSQL, SQL, MySQL">

    <link rel="canonical" href="https://santoslopez.github.io/index">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ "/assets/css/dashboard.css" | prepend: site.baseurl | replace: '//', '/' }}">
	  <!--link rel="stylesheet" href="{{ "/assets/css/normalize.css" | prepend: site.baseurl | replace: '//', '/' }}"-->
	  <link rel="stylesheet" href="{{ "/assets/css/table.css" | prepend: site.baseurl | replace: '//', '/' }}">


	  <link rel="shortcut icon"  href="{{ "/assets/img/profile/favicon.png" | prepend: site.baseurl | replace: '//', '/' }}">

    <link href="https://fonts.googleapis.com/css2?family=Calibri:wght@400;500;700&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-214860089-1"></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-214860089-1');
    </script>
    <!-- End Google Analytics -->


    <script src="{{ "/assets/js/disqus.js" | prepend: site.baseurl | replace: '//', '/' }}"></script>

</head>