<!DOCTYPE html>
<html lang="es">
  {% include head.html %}

<body style="blanco">

    

    <div class="wrapper" >
      {% include nav.html %}

      <main class="main">
      	<br>
	{{ content }}
      	 
      </main>

	    <!-- AQUI VA EL aside, donde esta la imagen del usuario -->
	    {% include aside.html %}

    </div>
    <script src="{{ "/assets/js/jquery-3.6.0.min.js" | prepend: site.baseurl | replace: '//', '/' }}"></script>
   <script src="{{ "/assets/js/owl_carousel/owl.carousel.js" | prepend: site.baseurl | replace: '//', '/' }}"></script>

</body>
</html>
